$alert-types: (
    warning: (
        bg: rgb(254, 252, 232),
        title: rgb(133, 77, 14),
        content: rgb(161, 98, 7)
    ),
    error: (
        bg: rgb(254, 242, 242),
        title: rgb(153, 27, 27),
        content: rgb(185, 28, 28)
    ),
    info: (
        bg: rgb(255,255,255),
        title: rgba(0, 0, 0, 0.878),
        content: rgba(0, 0, 0, 0.651)
    ),
    success: (
        bg: rgb(240 253 244),
        title: rgb(22 101 52),
        content: rgb(21 128 61)
    ),
    loading: (
        bg: rgb(239 246 255),
        title: rgb(29 78 216),
        content: rgba(29, 79, 216, 0.883)
    )
);

.workease-alerts {
    @each $type, $styles in $alert-types {
        &.ant-message-notice-#{$type} {
            .ant-message-notice-content {
                text-align: left;
                box-shadow: none;
                padding: 1rem;
                --tw-bg-opacity: 1;
                background-color: map-get($styles, bg); // 直接使用背景色

                .ant-message-custom-content{
                    align-items: flex-start;
                    .title {
                        font-weight: 500;
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        color: map-get($styles, title); // 使用 CSS 变量来动态设置透明度
                    }
                    .desc {
                        font-size: 0.875rem;
                        line-height: 1.25rem;
                        margin-top: 0.5rem;
                        color: map-get($styles, content); // 使用 CSS 变量来动态设置透明度
                    }
                }
                
            }

            .action-wrapper {
                margin-top: 1rem;
                display: flex;
                gap: 2rem;
                justify-content: flex-start;
                button {
                    color: map-get($styles, title);
                    font-size: 0.875rem;
                    font-weight: 500;
                    padding: 0.375rem 0.5rem;
                    line-height: 1.25rem;
                }
            }
        }
    }
}
